:root{
    --main:#9C27B0;
    --mainDark:#89119D;
    --secundary:#FFCE00;
    --secundaryDark: rgb(233,287,2);
    --white:#FFF;
    --dark:#000;

    --principalFont:'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/* Globales */

body{
    background-color: var(--main);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a{ text-decoration: none; }

img{ max-width:100%; }

.container{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundary);
    font-family: var(--principalFont);
}

h1{ font-size: 4rem; }

h2{ font-size: 3.2rem; }

h3{ font-size: 2.4rem; }


/* Header */

.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/* Footer */
.footer{
    background-color: var(--mainDark);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    font-family: var(--principalFont);
    text-align: center;
    font-size: 2.2rem;
}
/* Navegation */

.navegation{
    background-color: var(--mainDark);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
/*  gap: 2rem; Nueva forma de separar en flexBox, no todos los navegadores la soportan aún*/
}
.navegation__link{
    font-family: var(--principalFont);
    color: var(--white);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegation__link:last-of-type{
    margin-right: 0;
}

.navegation__link--active,
.navegation__link:hover{
    color: var(--secundary);
}

